body {
  font-family: Roboto, sans-serif;
  width: 375px;
}

.wrapper {
  background-image: url(../images/topcircles.png);
  background-repeat: no-repeat;
  background-color: #191765;
  width: 375px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 24px 0;
}

.container {
  width: 327px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

.logo {
  color: #fff;
  width: 81px;
  font-weight: 500;
  font-size: 18px;
}

.fa-bars {
  color: #fff;
  width: 33.33px;
  font-size: 25px;
}

h1 {
  width: 327px;
  color: #7d73fc;
  font-weight: 700;
  font-size: 35px;
  line-height: 72px;
  text-align: center;
}

.intro h2 {
  width: 327px;
  color: #edecff;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin-top: 12px;
}

.intro p {
  width: 327px;
  height: 170px;
  color: #c8c8d4;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

hr {
  width: 327px;
  background-color: #646369;
  border: none;
  height: 1px;
}

h3 {
  width: 107px;
  color: #7d73fc;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  padding-top: 38px;
}

.info-parag {
  width: 73.55px;
  color: #f5f5ff;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.flex-info {
  display: flex;
  flex-wrap: wrap;
}

.box {
  padding-right: 20px;
  padding-left: 20px;
}

.icons a {
  color: #fff;
  width: 18px;
  padding: 60px 0 38px 20px;
}

.flex-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
